{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    // "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope":"off",
    "react/jsx-props-no-spreading":"off"

  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "prettier/react"
  ]
}